################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
/packages
*.user
/Data
/Log
*.log
*.htm
*.nuspec
*.nupkg
/MigrationBackup
/BinEcho
/EchoTest/.vs/EchoTest/v15
/BinAgent
/BinHandler
/BinNC
/BinRpc/netcoreapp2.0
/BinTest
/BinRpc
